{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>

<a href="{% url 'posts:create' %}">Create</a>

{% for object in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if object.photo %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption">
        {% if object.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if object.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ object.get_absolute_url }}'>{{ object.first_name }} {{ object.last_name }}</a> 
            </h3>
         <!--    <small>{{ object.publish }}</small> -->
        <!-- {% if object.user.get_full_name %}<p>Author: {{ object.user.get_full_name }}</p>{% endif %}  -->
        {{ object.first_name }} {{ object.last_name }}</br>
        {{ object.street }} {{ object.street_nr }}</br>
        {{ object.post_code }} {{ object.city }}</br>
        {{ object.land }}</br>
        {{ object.phone_nr }}</br>
        <p><a href="{{ object.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>




</div>

{% endblock content %}